# Project exclude paths
/.gradle/
/build/
/elasticsearch8.7.1/build/
/elasticsearch8.7.1/out/
/elasticsearch8.7.1/out/production/classes/
/.idea/
/sql/mybatis/out/
/**/out
/sql/jooq/src/main/java/com/
